/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(95, 165, 249);
  background: linear-gradient(180deg, rgba(95, 165, 249, 0.75) 0%, rgba(16, 185, 129, 0.75) 100%), url(../src/assets/mainbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
}
/* stylelint-enable */
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
